run = "php -S 0.0.0.0:8000 -t ."

entrypoint = "index.php"
modules = ["php-8.2", "nix"]

[nix]
channel = "stable-23_11"

[deployment]
run = ["php", "-S", "0.0.0.0:8000", "-t", "."]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8000
externalPort = 80
